body{
    background-color: #243642;
    color: white;
}

.custom-navbar{
    background-color: #387478;
}

.custom-navbar .project-name{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.custom-navbar .nav-link{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.custom-navbar .nav-link.active{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-add{
    top: 10px;
    right: 0;
    background-color: #387478;
    border-color: #387478;
}

table{
    top: 25px;
    width: 75%;
    margin: 0 auto;
}

thead{
    background-color: #387478;
    border-color: white;
}


